<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assistance.name %>
</p>

<p>
  <strong>Report:</strong>
  <%= @assistance.report %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @assistance.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @assistance.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assistance.description %>
</p>

<p>
  <strong>Note:</strong>
  <%= @assistance.note %>
</p>

<p>
  <strong>Category:</strong>
  <%= @assistance.category %>
</p>

<p>
  <strong>Office:</strong>
  <%= @assistance.office %>
</p>

<%= link_to 'Edit', edit_assistance_path(@assistance) %> |
<%= link_to 'Back', assistances_path %>
