<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to inline_svg('MainLogo.svg', size: '128px * 30px', preserve_aspect_ratio: 'xMaxYMax meet'), root_path, class: 'navbar-brand' %>
    </div>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav'>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>
            <i class='fas fa-clipboard-list'></i>&nbsp;&nbsp;Rapporti
            <span class='caret'></span></a>
          <ul class='dropdown-menu' role='menu'>
            <li>
              <%= link_to reports_path do %>
                <h4>
                  <i class='fas fa-pencil-alt link-awesome'></i>&nbsp;&nbsp;&nbsp;Rapporti
                </h4>
              <% end %>
            </li>
            <li>
              <%= link_to pdfprint_reports_path do %>
                <i class='fas fa-print link-awesome'></i>&nbsp;<i class='fas fa-list link-awesome'></i>&nbsp;&nbsp;&nbsp;Stampa Elenco Rapporti
              <% end %>
            </li>
            <li>
              <%= link_to pdfprintreport_reports_path do %>
                <i class='fas fa-print link-awesome'></i>&nbsp;<i class='fas fa-file-pdf link-awesome'></i>&nbsp;&nbsp;&nbsp;Stampa Rapporti Completi
              <% end %>
            </li>
            <li class='divider'></li>
            <li>
              <%= link_to locations_path do %>
                <i class='fas fa-map-signs link-awesome'></i>&nbsp;&nbsp;&nbsp;Posizioni
              <% end %>
            </li>
            <li>
              <%= link_to structures_path do %>
                <i class='far fa-building link-awesome'></i>&nbsp;&nbsp;&nbsp;Strutture
              <% end %>
            </li>
            <li class='divider'></li>
            <li>
              <%= link_to categories_path do %>
                <i class='fas fa-list link-awesome'></i>&nbsp;&nbsp;&nbsp;Categorie
              <% end %>
            </li>
            <li>
              <%= link_to offices_path do %>
                <i class='fas fa-chair link-awesome'></i>&nbsp;&nbsp;&nbsp;Uffici
              <% end %>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>
            <i class='fas fa-car'></i>&nbsp;&nbsp;Trasferimenti
            <span class='caret'></span></a>
          <ul class='dropdown-menu' role='menu'>
            <li>
              <%= link_to transfers_path do %>
                <h4>
                  <i class='fas fa-space-shuttle link-awesome'></i>&nbsp;&nbsp;&nbsp;Trasferimenti
                </h4>
              <% end %>
            </li>
            <li class='divider'></li>
            <li>
              <%= link_to transports_path do %>
                <i class='fas fa-truck-monster link-awesome'></i>&nbsp;&nbsp;&nbsp;Trasporti
              <% end %>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>
            <i class='fas fa-project-diagram'></i>&nbsp;&nbsp;Progetti
            <span class='caret'></span></a>
          <ul class='dropdown-menu' role='menu'>
            <li>
              <%= link_to projects_path do %>
                <h4>
                  <i class='fas fa-clipboard-list link-awesome'></i>&nbsp;&nbsp;&nbsp;Progetti
                </h4>
              <% end %>
            </li>
            <li class='divider'></li>
            <li>
              <%= link_to project_typologies_path do %>
                <i class='fas fa-toolbox link-awesome'></i>&nbsp;&nbsp;&nbsp;Tipologie Progetti
              <% end %>
            </li>
            <li>
              <%= link_to project_statuses_path do %>
                <i class='fas fa-clipboard-check link-awesome'></i>&nbsp;&nbsp;&nbsp;Stati Progetto
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <a href='#'>
            <small>
              <i class='fas fa-calendar-alt'></i>&nbsp;
              <%= l(Date.today, format: '%A %d %B %Y') %>
            </small>
          </a>
        </li>
        <li>
          <a href='#' class='hidden-xs'>
            <small>
              <i class='fas fa-user-circle'></i>
              &nbsp;&nbsp;<%= current_user.name %>&nbsp;&nbsp;<%= current_user.forename%>
              &nbsp;&nbsp;
              <i class='far fa-building'></i>
              &nbsp;&nbsp;<%= current_user.department %>
              &nbsp;&nbsp;
              <i class='fas fa-chair'></i>
              &nbsp;&nbsp;<%= current_user.office %>
            </small>
          </a>
        </li>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>
            <i class='fas fa-bars'></i>
            <span class='caret'></span></a>
          <ul class='dropdown-menu' role='menu'>
            <li>
              <%= link_to home_howto_path do %>
                <i class='fas fa-book link-awesome'></i>&nbsp;&nbsp;&nbsp;Manuali
              <% end %>
            </li>
            <li>
              <%= link_to home_credits_path do %>
                <i class='fas fa-cubes link-awesome'></i>&nbsp;&nbsp;&nbsp;Crediti
              <% end %>
            </li>
            <li>
              <%= link_to home_about_path do %>
                <i class='fas fa-user link-awesome'></i>&nbsp;&nbsp;&nbsp;Autore
              <% end %>
            </li>
            <li>
              <% if admin? %>
                <%= link_to rails_admin_path do %>
                  <i class='fas fa-cog link-awesome'></i>&nbsp;&nbsp;Amministrazione
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class='fas fa-sign-out-alt link-awesome'></i>&nbsp;&nbsp;Esci
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
