<%= form_with(model: category, local: true) do |f| %>
  <% if category.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(category.errors.count, 'error') %> Non posso salvare la seguente Categoria causa errori:</h2>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='field'>
    <%= f.label :name, class: 'text-primary font-lite' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='field'>
    <%= f.label :position, class: 'text-primary font-lite' %>
    <%= f.number_field :position, class: 'form-control' %>
  </div>
  <br>
  <div class='form-group'>
    <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm font-lite') do %>
      <i class='fas fa-save'></i>&nbsp;&nbsp;SALVA
    <% end %>
  </div>
<% end %>
