<%= form_with(model: report, local: true) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>
      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :date, class: 'text-primary' %>
    <%= f.text_field :date, class: 'datepicker form-control' %>
  </div>
  <div class="field">
    <%= f.label :location_id, class: 'text-primary' %>
    <%= f.collection_select(:location_id, Location.order('position ASC'), :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
  </div>
  <div class="field">
    <%= f.label :structure_id, class: 'text-primary' %>
    <%= f.collection_select(:structure_id, Structure.order('position ASC'), :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
  </div>
  <br>
  <div class='form-group'>
    <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm') do %>
      <i class="fas fa-save"></i>&nbsp;&nbsp;Save
    <% end %>
  </div>
<% end %>
<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      language: 'it'
    });
  });
</script>