<h3>
  <%= inline_svg('report_icon.svg', size: '32px * 32px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  &nbsp;<span class='text-primary'>Elenco Rapporti per Stampa</span>
</h3>
<hr class='hr-primary'>
<br>
<%= search_form_for @q, id: 'search-form', url: pdfprint_reports_path do |f| %>
<div class='row'>
  <div class='col col-lg-3'>
    <div class='field'>
      <%= f.label 'Data Inizio:', class: 'font-lite' %><br>
      <%= f.text_field :date_gteq, class: 'form-control' %>
    </div>
    <div class='field'>
      <%= f.label 'Data Fine:', class: 'font-lite' %><br>
      <%= f.text_field :date_lteq, class: 'form-control' %>
    </div>
  </div>
  <div class='col col-lg-3'>
    <div class='field'>
      <%= f.label 'Posizione:', class: 'font-lite' %><br>
      <%= f.text_field :location_name_cont, class: 'form-control' %>
    </div>
    <div class='field'>
      <%= f.label 'Struttura:', class: 'font-lite' %><br>
      <%= f.text_field :structure_name_cont, class: 'form-control' %>
    </div>
  </div>
  <div class='col col-lg-3'>
    <br>
    <div class='form-actions'>
      <%= button_tag type: 'submit', class: 'btn btn-success btn-sm btn-block' do %>
      <i class='fas fa-search'></i>&nbsp;&nbsp;Cerca&nbsp;&nbsp;&nbsp;
    <% end %>
  </div>
  <hr class='hr-gray-lighter-less'>
  <!-- PDF PRINT -->
  <% if printable?(@reports) %>
    <%= link_to pdfprint_reports_path(request.parameters.merge(format: 'pdf')), target: 'new', class: 'btn btn-info btn-sm btn-block' do %>
      <i class='fas fa-print'></i>&nbsp;&nbsp;Stampa Elenco Rapporti
    <% end %>
  <% end %>
</div>
</div>
<% end %>
<br>
<hr class='hr-gray-lighter-less'>
<br>
<table class='table table-striped'>
<thead>
<tr>
<th class='font-lite text-primary'>Data:</th>
<th class='font-lite text-primary'>Posizione:</th>
<th class='font-lite text-primary'>Struttura:</th>
</tr>
</thead>
<tbody>
<% @reports.each do |report| %>
<tr>
  <td><%= date?(report) %></td>
  <td><%= location?(report) %></td>
  <td><%= structure?(report) %></td>
</tr>
<% end %>
</tbody>
</table>
