<h3>
  <%= inline_svg('report_icon.svg', size: '32px * 32px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  &nbsp;<span class='text-primary'>Rapporto n°:&nbsp;<%= @report.name %></span>
  <span class='pull-right'>
    <h6>
      <%= link_to reports_path, title: 'Back to the List', rel: 'tooltip' do %>
        <span class='link-return'><i class='fas fa-arrow-left'></i></span>&nbsp;&nbsp;Ritorna alla Lista
      <% end %>
      &nbsp;|&nbsp;
      <%= link_to edit_report_path(@report), title: 'Edit the current Location', rel: 'tooltip' do %>
        <span class='text-warning'><i class='fas fa-pencil-alt'></i></span>&nbsp;&nbsp;Modifica
      <% end %>
      &nbsp;|&nbsp;
      <%= link_to @report, method: :delete, data: { confirm: 'Sei sicura/o di voler eliminare il Rapporto corrente?' }, title: 'Delete the current Location', rel: 'tooltip' do %>
        <span class='text-danger'><i class='fas fa-trash-alt'></i></span>&nbsp;&nbsp;Elimina
      <% end %>
    </h6>
  </span>
</h3>
<hr class='hr-primary'>
<br>
<div class='panel panel-primary'>
  <div class='panel-body'>
    <div>
      <span class='text-primary'><i class='far fa-calendar-alt'></i>&nbsp;&nbsp;Data: </span><%= date?(@report) %>
      &nbsp;
      <span class='text-primary'><i class='fas fa-map-marker-alt'></i>&nbsp;&nbsp;Posizione: </span><%= location?(@report) %>
      &nbsp;
      <span class='text-primary'><i class='far fa-building'></i>&nbsp;&nbsp;Struttura: </span><%= structure?(@report) %>
    </div>
  </div>
</div>
<br>
<h4>
  <span class='text-info'>
    <i class='fas fa-wrench'></i>&nbsp;Assistenze
  </span>
</h4>
<% @report.assistances.each  do |assistance| %>
  <div class='panel panel-info'>
    <div class='panel-body'>
      <span class='text-info'><i class='far fa-clock'></i>&nbsp;&nbsp;Ora Inizio:</span>&nbsp;<%= l(assistance.start_time, format: '%H : %M') %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class='text-info'><i class='far fa-clock'></i>&nbsp;&nbsp;Ora Fine:</span>&nbsp;<%= l(assistance.end_time, format: '%H : %M') %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class='text-info'><i class='fas fa-chair'></i>&nbsp;&nbsp;Ufficio:</span>&nbsp;<%= office?(assistance) %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class='text-info'><i class='fas fa-list'></i>&nbsp;&nbsp;Categoria:</span>&nbsp;<%= category?(assistance) %>
      <br>
      <br>
      <span class='text-info'>Descrizione:</span>&nbsp;
      <hr class='hr-gray-lighter-less'>
      <%= assistance.description %>
      <br>
      <br>
      <span class='text-info'>Note:</span>&nbsp;
      <hr class='hr-gray-lighter-less'>
      <%= assistance.note %>
    </div>
  </div>
<% end %>
