<%= form_with(model: location, local: true) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, class: 'text-primary' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :position, class: 'text-primary' %>
    <%= f.number_field :position, class: 'form-control' %>
  </div>
  <br>
  <div class='form-group'>
    <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm') do %>
      <i class="fas fa-save"></i>&nbsp;&nbsp;Save
    <% end %>
  </div>
<% end %>
